*{
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh ;
}
.grid {
  display: grid;
  gap: 8px;
}

/* For small devices */
@media (max-width: 640px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  }
}

/* For medium devices */
@media (min-width: 641px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }
}

/* For large devices */
@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


