@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* For the specific scrollable element */
.no-scrollbar {
  overflow: auto;              /* still scrollable */
  -ms-overflow-style: none;    /* IE 10+ and old Edge */
  scrollbar-width: none;       /* Firefox */
}

/* Chrome, Safari, new Edge, Opera, iOS WebKit */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
